.login-container {
   background-image: url('../../../assets/bgImg.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .login-content {
   background-color: rgba(0, 0, 0, 0.6);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
   color: #fff; /* Text color */
 }
 
 .login-header {
   text-align: center;
   margin-bottom: 20px;
 }
 
 .login-form {
   max-width: 400px;
   margin: 0 auto;
 }
 
 .error-message {
   color: #ff5454; /* Error message color */
   text-align: center;
   margin-bottom: 10px;
 }
 
 /* Form input and button styles */
 .form-control {
   background-color: rgba(255, 255, 255, 0.1); /* Input background color */
   border-color: rgba(255, 255, 255, 0.3); /* Input border color */
   color: #fff; /* Input text color */
 }
 
 .form-control::placeholder {
   color: rgba(255, 255, 255, 0.5); /* Placeholder color */
 }
 
 .btn-primary {
   background-color: #007bff; /* Button background color */
   border-color: #007bff; /* Button border color */
 }
 
 .btn-primary:hover {
   background-color: #0056b3; /* Button hover background color */
   border-color: #0056b3; /* Button hover border color */
 }
 