.signup-form label {
  display: block;
  margin-bottom: 5px;
}

.signup-form input,
.signup-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #000; 

}

.signup-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.signup-form input[type="submit"]:hover {
  background-color: #0056b3; 
}
li{
  list-style-type: none;
}
.error-msg {
  color: #ff5454;
}
